	header {
		background-color:#3dd0ac ;
		height: 500px;
		background-image: url(arbre.png);


		background-repeat: no-repeat;
	}

	h1 {
		color: white;
		font-family: Arial;
		text-align: center;
		margin-top: 370px;
		font-size: 45px;
	}
	h2 {
		font-family: Arial;
		text-align: center;
		font-size: 45px;
		letter-spacing: 4px;
	}
	

p.blocktext{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 760px;
	font-family: helvetica;
	padding: 10px;

}
p{
	font-family: Arial;
}


footer {
	background-color: #3dd0ac;
	height: 40px;
	text-align: center;
	color: white;
	font-family: Arial;
	padding-top: 10px;


}

nav {
width: 800px;
display: flex;
justify-content: space-evenly;
margin: auto;

}

nav ul {
margin: 0px;
padding-top: 30px;

}

nav ul li {
display: inline;
margin-right: 40px;
font-family:arial, sans-serif;

}

nav ul li a{
color:white;
text-decoration: none;
border-radius: 5px;

    }

nav ul li a:hover{
color:black;
background-color:white;
text-decoration: underline;
padding: 10px;



}
img {
	margin: auto;

}
section {
	margin: auto;
	width: 760px;
}

iframe{
	margin-bottom: 10px;
}

